extends layout

block content
    div(class="container")
        h1='Seerose -> Bürkliplatz'
        p(id='countdown', class='easy')='loading'
        p(class="time")
            span(id="departureTime")="..."

        a(class='more')='+'

        div(id='next', class="invisible")
            p(id='countdown2')='...'
            p(class="time time2")
                span(id="departureTime2")=" "

        a(id='join', class="join", href='#')='Auf den will ich auch!'
            span(id='totalJoins')='0'
