!!! 5
html
    head
        title=title
        meta(charset='utf-8')
        meta(name="description", content=description)
        meta(name="author", content=author)
        meta(name="viewport", content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Strait')
        link(rel='stylesheet', href='/css/style.css?v=0.1')
        link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
        //-script(src='js/libs/modernizr-2.0.6.min.js')
    body
        block header

        block content

        block footer
            script(src='/socket.io/socket.io.js')
            script(src='/js/script_vanilla.js?v=0.1')
            script
                var _gaq=[['_setAccount', 'UA-7063944-1'], ['_trackPageview'], ['_trackPageLoadTime']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));